$text-font: "Raleway", sans-serif;

$background-color: #FEFFFF;
$title-color: #FA5056;
$text-color: black;
$box-shadow-color: #4C4C7A;
$button-color: #50FA7D;
$disclaimer-size: 80%;
$button-height: 175px;
$button-width: 175px;

$bar-duration: 1s;